

@import url(_components/_navbar.css);
:root {
    --primary: #2979ff;
    --secondary: #651fff;
}
html, body {
    width: 100vw;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem auto;
}
.wrap {
    margin: 5rem auto;
}
.card {
    width: 80vw;
    border: 1px solid grey ;
}

.title {
    font-size: 1.8rem;
    text-align: left;
    padding: 1rem;
    margin: 0;
    background-image: linear-gradient(to left,cyan,  teal);
    color: aliceblue;
}


.paragraph {
    font-size: 1.5rem;
    text-indent: 1.2rem;
    padding: 1rem;
}

